---
import Layout from "../layouts/Layout.astro";
import Canvas4 from "../components/Canvas4.astro";
---

<Layout title="Slider Puzzle Juego">
  <button id="comenzar">Start</button>
  <div id="game">
    <p id="ganar"></p>
    <canvas></canvas>
  </div>
  <script>
    var rangeInput = document.getElementById(
      "default-range"
    ) as HTMLInputElement;
    var numero = document.getElementById("numero");

    rangeInput.addEventListener("change", function () {
      numero.textContent = rangeInput.value;
    });
    let valor = Number(rangeInput.value);
	console.log(valor)
  </script>
  <Canvas4/>
</Layout>

<style>
  canvas {
    height: 400px;
    width: 400px;
    background-color: #ffcba4;
    border-radius: 10px;
  }
  #game {
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
  }
  #ganar {
    color: white;
  }
  #comenzar {
    width: 20%;
    height: 64px;
    border: none;
    align-self: center;
    border-radius: 10px;
    background-color: aquamarine;
    color: #000;
  }
  #contSlider {
    width: 85%;
    align-self: center;
  }
  /* Estilos para el input de tipo range */
  input[type="range"] {
    /* Estilos específicos */
    width: 100%; /* Ancho completo */
    height: 10px; /* Altura de la barra */
    background-color: #ccc; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    appearance: none; /* Eliminar estilos predeterminados */
    cursor: pointer; /* Cursor de apuntador */
  }

  /* Cambiar el color del input cuando está activo */
  input[type="range"]:active,
  input[type="range"]:focus {
    outline: none; /* Eliminar el contorno */
  }

  /* Cambiar el color de la barra al ser manipulada */
  input[type="range"]::-webkit-slider-thumb {
    background-color: #3336c9; /* Color del botón de deslizamiento */
    width: 25px; /* Ancho del botón */
    height: 25px; /* Altura del botón */
    border-radius: 50%; /* Borde redondeado para que sea circular */
    cursor: pointer; /* Cursor de apuntador */
  }
</style>
